@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


/* Reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style-type: none;}  
a{text-decoration: none;color: inherit;}
address, em, i{font-style: normal;}
button{background: none;border:none;outline: none;}
img{vertical-align:top;}
.en{font-family: "Montserrat", sans-serif;}
.en2{font-family: "Cormorant Garamond", serif;}


/* Layout */
#wrap {
  margin: 0 auto; 
  position: relative; 
  overflow: hidden; 
  background: #fed700;
}

.con01, .con03 {
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: #0f0d0d; 
  color: #fed700; 
  text-align: center; 
  text-transform: uppercase;
}

.con01 .logo {
  width: 150px;
  margin: 0 auto 25px;
}
.con01 .logo a {
  display: block; 
  width: 100%; 
  height: 100%;
}
.con01 .logo a img {width: 100%;}
.con01 .textBox .title {
  font-size: 72px; 
  font-weight: bolder; 
  margin-bottom: 5px;
}
.con01 .textBox .txt {font-size: 18px;}
.con03 h2 {font-size: 80px;}


/* portfolio */
.portfolio {padding-top: 100px;}
.portfolio .textBox {
  text-align: center;
  text-transform: uppercase; 
  color: #0f0d0d;
}
.portfolio .textBox h2 {
  font-size: 72px; 
  letter-spacing: -5px; 
  margin-bottom: 5px;
}
.portfolio .textBox p {font-size: 18px;}

.portfolio .list {
  display: flex; 
  flex-wrap: nowrap; 
  padding: 60px 0;
}
.portfolio .list li {
  width: 400px; 
  height: 520px; 
  padding: 0 30px; 
  flex-shrink: 0 !important; /* 자식요소가 작아지는것을 막기위함 */
}
.portfolio .list li .box {
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  position: relative;
}
.portfolio .list li .box:after {
  content: ''; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%); 
  background: url(img/sticker.png) no-repeat center/130px; 
  opacity: 0; 
  transition: 0.5s;
}
.portfolio .list li .box img {width: 100%;}
.portfolio .list li .box:hover img {
  transform: scale(0.98); 
  filter: brightness(60%);
}
.portfolio .list li .box:hover:after {opacity: 0.5;}
.portfolio .list li.a {transform: rotate(-15deg);}
.portfolio .list li.b {transform: rotate(-10deg);}
.portfolio .list li.c {transform: rotate(8deg);}