/* Reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style-type: none;}  
a{text-decoration: none;color: inherit;}


header{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {font-size: 5rem;}

img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
}

ul {padding-left: 1rem;}
li {
  flex-shrink: 0;
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}
footer {
  height: 50vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center
}


.demo-wrapper {overflow-x: hidden;}
.wrapper {display: flex;}
.demo-gallery:not(.last) {padding-bottom: 1rem;}
.text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
}
.awsome, .try {
  overflow:hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.try .text{color: #fff;}
