@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


/* Reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style-type: none;}  
a{text-decoration: none;color: inherit;}
address, em, i{font-style: normal;}
button{background: none;border:none;outline: none;}
img{vertical-align:top;}
.en{font-family: "Montserrat", sans-serif;}
.en2{font-family: "Cormorant Garamond", serif;}


/* Layout */
body {
  background: #17181d; 
  color:#fff; 
  /* margin-bottom: 5000px; */
}
.character {
  height: 100vh; 
  position: relative;
}
.character p.img {
  width: 450px; 
  height: 450px; 
  position: absolute; 
  left: 50%; 
  top:50%; transform: translate(-50%,-50%);
}
.character p.img img {width: 100%;}
.character .stage {
  height: 100%; 
  background-image: url('img/img_3.png'); 
  background-repeat: no-repeat; 
  background-position: 0 center; 
  max-width: 200px;
  margin: 0 auto;
}

.con01 {
  height: 800vh; 
  padding-top: 50px;
}
.textBox {
  width: 100%;
  height: 80vh; 
  font-size: 6vw; 
  font-family: 'Squada One', cursive; 
  line-height: 1.1;
  letter-spacing: -1px; position: relative;
}
.textBox .en1 {
  font-family: 'Sriracha', cursive; 
  font-style: italic;
}
.textBox ul {
  position: absolute; 
  top: 0; 
  left: 5%;
}
.textBox ul.menu {
  color: transparent; 
  -webkit-text-stroke: 1px #b1d4da;
}
.textBox ul.menu .color {
  color: #fff; 
  -webkit-text-stroke: none;
}

.textBox .container {
  background-color: red;
  height: 80px; 
  outline: 1px transparent; 
  overflow: hidden;
}
.textBox .container .mask .en1 {
  color: #b1d4da; 
  -webkit-text-stroke: none;
}
.textBox .container .mask{background-color: blue;}


/* con02 */
.con02 {
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: 'squada One', cursive; 
  position: relative;
}
.con02 h2 {
  color: #fff; 
  position: absolute; 
  font-size: 11vw; 
  text-transform: uppercase;
}
.con02 h2:nth-child(1) {
  color: transparent; 
  -webkit-text-stroke: 2px #fff;
}
.con02 h2:nth-child(2) {
  color: #fff; 
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {clip-path: polygon(0% 56%, 8% 63%, 20% 59%, 33% 62%, 52% 59%, 66% 57%, 78% 64%, 98% 58%, 100% 65%, 100% 99%, 0% 100%);}
  50% {clip-path: polygon(0% 56%, 10% 58%, 21% 66%, 33% 57%, 52% 56%, 63% 69%, 75% 56%, 88% 52%, 100% 65%, 100% 99%, 0% 100%);}
}